server:
  port: ${SERVER_PORT:8080}

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/hyrup}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

app:
  jwt:
    secret: ${JWT_SECRET:12468be46502d712acb9539a58ffa3a25ae73ccb919b89c526eadf123608ff3c}
    expiration-seconds: ${JWT_EXPIRATION_SECONDS:3600}
